<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost-dynamic.redist" version="1.59.150919" targetFramework="native" />
  <package id="boost-static" version="1.59.150919" targetFramework="native" />
  <package id="ogre-2-1" version="2.1.0.150917" targetFramework="native" />
  <package id="ogre-2-1.redist" version="2.1.0.150917" targetFramework="native" />
  <package id="ois" version="1.4.0.40" targetFramework="native" />
  <package id="ois.redist" version="1.4.0.40" targetFramework="native" />
</packages>